.header {
  padding-top: 12px;
  margin-bottom: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-main {
  margin-bottom: 193px;
  padding-top: 25px;
}

