
.menu {
  padding-top: 4px;
}

.menu__list {
  display: flex;
  align-items: center;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #2D2D2D;

}


.menu__item {
  vertical-align: middle;
  margin-right: 42px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link:hover {
  color: #FF3D00;
  transition: 0.3s;
}

.contacts {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 8px;
  margin-right: -40px;
}

.contacts__phone {  
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #2D2D2D;
  position: relative;

  &::after {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border-top: 1.5px solid #2d2d2d;
    border-right: 1.5px solid #2d2d2d;
    transform: rotate(135deg);

    top: 11%;
    left: 105%;
  }

  &::before {
    position: absolute;
    display: block;
    top: 10%;
    left: -16%;
    content: '';
    width: 14px;
    height: 14px;
    background: url(/images/logo/phone-gold.png) center center no-repeat;
  }
}

.contacts__title {font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  border-bottom: 1px dashed #2D2D2D;
  
  color: #2D2D2D;
}

.dropdown {
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
}


.dropdown__menu {
  position: absolute;
  padding: 10px 19px 15px;
  transform: translate(19%, -5%);
  text-align: left;
  border-radius: 5px;
  margin-top: 26px;
  width: 160px;
  height: 60px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #2D2D2D;

  display: block;
  opacity: 0;
  transition: opacity 0.4s;
  left: -9999px;
  
  background: #CDD1D2;
}

.dropdown__menu:before {
  content: "";
  display: block;
  height: 76px;
  left: 0;
  right: 0;
  bottom: 0px;
  position: absolute;
}

.dropdown__menu::after {  
  content: "";
  position: absolute;
  border: 10px solid transparent;
  bottom: 59px;
  right: 44px;
  width: 0px;
  height: 0px;
  border-bottom-color:  #CDD1D2;
  border-top-width: 0;
  display: block;
  opacity: 0;
  transition: opacity .4s;
}

.dropdown__menu--special {
  font-weight: bold;
}

.dropdown:hover .dropdown__menu {
  display: block;
  left: 0;
  opacity: 1;
}

.dropdown:hover .dropdown__menu::after {
  display: block;
  opacity: 1;
}
