.news {
  padding: 121px 0 71px;
  background-image: linear-gradient(to right, #EDEEEF 50%, transparent 50%);
}

.container__news {
  display: flex;
  flex-direction: column;
}
.container__news > .show__btn {
  margin-right: -36px;
}

.news__content {
  display: flex;
  margin-bottom: 56px;
}

.news__title {
  max-width: 189px;
  margin-right: 98px;
  position: relative;
}
.news__title::after {
  display: block;
  content: "";
  width: 289px;
  height: 289px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 139%;
  left: 55%;
  background: url(/images/content/news-man.png) center center no-repeat;
}

.news__list {
  display: flex;
  align-items: flex-start;
}

.news__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 150px;
  position: relative;
}
.news__item:last-child {
  margin-right: 0;
}
.news__item-text {
  max-width: 228px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 0;
}
.news__item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.news__item-data {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  margin-bottom: 16px;
  color: #6F6F6E;
}
.news__item:nth-child(3)::after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 247px;
  border: 1px solid #B1B1B0;
  top: -10%;
  left: -26%;
}

.news__item-arrow {
  position: static;
  transform: none;
}